body{
	background:#fff;
}
.top{
	width:100%;
	height:.9rem;
}
.fond{
	width:2rem;
	height:2rem;
	margin:0 auto;
	background:#2fbeee;
}
.fond img{
	width:2rem;
	height:2rem;
	border-radius:0.2rem;
}
ul.form{
	width:90%;
	margin:0 auto;
	list-style-type:none;
	margin-top:.5rem;
}
.form li{
	line-height:.5rem;
	margin-bottom:.2rem;
}
.form li span{
	display:inline-block;
	width:.8rem;
	font-size:.28rem;
	color:#9297c4;
	text-align:center;

}
.form li input{
	width:5.63rem;
	height:.6rem;
	line-height:.6rem;
	color:#999;
	padding-left:.2rem;
	text-align:left;
	margin-left:.2rem;
	border:0;
	background:#f7f7f7;
}
.form li input.sub{
	width:100%;
	margin:0;
	margin-top:.5rem;
	background:#196394;
	border:0;
	color:#fff;
	text-align:center;
	line-height:.78rem;
	height:.78rem;
	border-radius: 0.1rem;
}
.form li p{
	text-align:center;
	margin-top:.1rem;
}
.form li p a{
	color:#5c64ac;
	font-size:.24rem;
	
}
.form li:last-child{
	margin-top:.4rem;
}
.form li img{
	width:.7rem;
	height:.7rem;
	margin:0 auto;
	display:block;
}
