.each {
    border: #797979 .0625rem solid;
    border-radius: .625rem;
    width: 95%;
    height: 2.5rem;
    margin: .625rem;
}

.table_down span {
    height: 2.5rem;
    line-height: 2.5rem;
    margin-left: .625rem;
}
.table_down a{
    color: #000;
    text-align: left;
}
.table_down button {
    border: #797979 .0625rem solid;
    border-radius: .25rem;
    height: 1.25rem;
    background: white;
    margin-top: .625rem;
    width: 3.125rem;
    font-size: .75rem;
}

.table_down .right {
    float: right;
    margin-right: 1.25rem;
}
#_10{
    display: none;
}